@use 'sass:color';
@use '@material/theme/color-palette';

$background: color-palette.$grey-900;

@use '@material/theme' with (
  $primary: color-palette.$blue-grey-500,
  $secondary: color-palette.$blue-grey-100,
  $surface: #fff,
  $background: $background,
  $error: #b00020,
);

$color: if(theme.contrast-tone($background) == 'dark', #333, #eee);

html,
body {
  background-color: $background;
  color: $color;
}

nav a {
  color: $color;
}

main {
  a {
    color: color-palette.$blue-500;
  }

  a:visited {
    color: color.scale(color-palette.$blue-500, $lightness: -50%);
  }
}

button.material-icons.dark_mode {
  display: none;
}
button.material-icons.light_mode {
  display: block;
}