body {
	overflow: overlay;
	margin: 0;
	font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	font-size: 14px;
	line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0 0 0.5em 0;
	font-weight: 400;
	line-height: 1.2;
}

h1 {
	font-size: 2em;
}

a {
	color: inherit;
}

code {
	font-family: menlo, inconsolata, monospace;
	font-size: calc(1em - 2px);
	color: #555;
	background-color: #f0f0f0;
	padding: 0.2em 0.4em;
	border-radius: 2px;
}

@media (min-width: 400px) {
	body {
		font-size: 16px;
	}
}

svg:focus {
	outline: none;
}


/* Scrollbar START */

/* width */
::-webkit-scrollbar {
	width: 23px;
}

/* Track */
::-webkit-scrollbar-track {
	background: transparent; 
	margin: 50px 0 5px 0;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #888; 
	border-radius: 12px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #777; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:active {
	background: #555; 
}

::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb:hover,
::-webkit-scrollbar-thumb:active
{
	border: 8px solid rgba(255,255,255,0);
    background-clip: padding-box;
}

/* Scrollbar END */